<html>
<head>
	<title>Card Val</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="http://vuejs.org/js/vue.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="jquery.payment.js"></script>
	<style type="text/css">
		.cc-number{
			background-image: url(cards1.svg);
			background-position: -999px 0px;
			background-size: 40px 252px; /* 89 x 560 */
			background-repeat: no-repeat;
			padding-left: 48px;
		}
		
		.card-visa {
			background-position: 3px 5px;
		}
		.card-mastercard {
			background-position: 3px -41px;
		}
		.card-amex {
			background-position: 3px -87px;
		}
	</style>
</head>
<body>
	<div id="app" class="container">
		<div class="form-group" v-bind:class="{'has-success': card_is_valid}">
			<label class="control-label">Card Number <span class="required">*</span></label>
			<input id="checkout_card_number" class="form-control cc-number {{ card_type ? 'card-' + card_type : '' }}" type="tel" size="19" maxlength="19" v-model="cc_number" placeholder="•••• •••• •••• ••••">
			<span class="payment-errors required"></span>
		</div>

		<div class="form-group" v-bind:class="{'has-success': expiry_is_valid}">
        <label for="cc-expiry" class="control-label">Card expiry</label>
        <input v-model="cc_expiry" id="cc-exp" type="tel" class="form-control cc-exp" autocomplete="cc-exp" placeholder="MM / YY" required>
      </div>

      <div class="form-group" v-bind:class="{'has-success': cvc_is_valid}">
        <label for="cc-cvc" class="control-label">Card CVC formatting</label>
        <input v-model="cc_cvc" id="cc-cvc" type="tel" class="form-control cc-cvc" autocomplete="off" placeholder="•••" required>
      </div>

		<p>Type: {{ card_type }}</p>

		<p>Valid: {{ card_is_valid }}</p>
		<p>Expiry Valid: {{ expiry_is_valid }}</p>
		<p>CVC Valid: {{ cvc_is_valid }}</p>
	</div>

	<script>
		$('input.cc-number').payment('formatCardNumber');
		$('input.cc-exp').payment('formatCardExpiry');
		$('input.cc-cvc').payment('formatCardCVC');

		new Vue({

			el: '#app',

			data: {
				'cc_number': '',
				'cc_expiry': '',
				'cc_cvc': '',				
			},

			computed: {
				card_type: function() {
					return $.payment.cardType(this.cc_number)
				},
				card_is_valid: function() {
					return $.payment.validateCardNumber(this.cc_number);
				},
				expiry_is_valid: function() {
					var expiry = $.payment.cardExpiryVal(this.cc_expiry);
					return $.payment.validateCardExpiry(expiry);
				},
				cvc_is_valid: function() {
					return $.payment.validateCardCVC(this.cc_cvc, this.card_type);
				}
			},				
		});
</script>

</body>
</html>